html {
    font-size: 62.5%;
    line-height: 1.15;
    box-sizing: border-box;
  }
  
  * {
    box-sizing: inherit;
  }
  
  :root {
      --primary: hsla(357, 48%, 64%, 0.8);
      --secondary: hsl(0, 0%, 50%);
      --success: hsl(120, 87%, 85%);
      --primary-active: hsla(357, 48%, 64%, 1);
      --secondary-active:  hsl(0, 0%, 30%);
      --success-active:hsl(120, 42%, 68%);
      --while: #FFFFFF;
      --size-space: 8px;
  }
  
  .section-buttons {
    margin: 0 calc(var(--size-space)*3) calc(var(--size-space)*3) calc(var(--size-space)*3);
  }
  
  .section-max-width {
    max-width: calc(var(--size-space)*40);
  }
  
  .article-example {
    margin: calc(var(--size-space)*3);
  }
  
  .margin-bottom {
    margin-bottom: calc(var(--size-space)/2);
  }
  
  .aside-example {
    background-color: var(--while, #FFFFFF);
    font-size: 1.6rem;
    width: auto;
    right:0;
    bottom: 0;
    position: fixed;
    padding-right: calc(var(--size-space)*3);
    padding-left: calc(var(--size-space)*3);
  }
  