<!doctype html>
<html>

    <head>
        <script type="module" src="./li-icon.js"></script>
    </head>

    <body>
        <li-icon icon='{"name":"refresh", "size":128}' fill="orange" strokeWidth=.2 rotate=-45 stroke="red"></li-icon>
        <div style="display:flex; flex-direction: row; align-items: center; justify-content: left;">
            <li-icon name="hamburger" fill="lightgray" speed=-10 size=128></li-icon>
            <li-icon name="hamburger" fill="darkgray" rotate=90 blink=.5></li-icon>
            <li-icon name="hamburger" fill="gray"></li-icon>
            1234567890
        </div>
        <li-icon></li-icon>
        <li-icon fill="orange" rotate=90></li-icon>
        <li-icon fill="green" blink=2 name="android"></li-icon>
        <li-icon fill="lightblue" scale="-1,1" speed=1></li-icon>
        <li-icon icon='{"name":"refresh", "fill":"red", "speed":1, "blink":1}'></li-icon>
        <!-- <p style="display:flex;align-items: center;"> -->
            <li-icon name="close" fill="orange" rotate=90></li-icon>
            <li-icon name="close" fill="orange" rotate=90></li-icon>
            <li-icon name="close" fill="orange" rotate=90></li-icon>
            <span>trertertretrete</span>
            <li-icon name="close" fill="orange" rotate=90></li-icon>
            <li-icon name="close" fill="orange" rotate=90></li-icon>
        <!-- </p> -->
    </body>

</html>